In [ ]:
import pandas as pd
import datetime
from sqlalchemy import create_engine

invoice = pd.read_excel('byun/invoice.xls', sheet_name='Sheet1')

invoice['Invoice Entry Date'] = [datetime.date(1900, 1, 1) + datetime.timedelta(int(d)) for d in invoice['Invoice Entry Date']]

invoice['Invoice Entry Date']= pd.to_datetime(invoice['Invoice Entry Date'])

sql_engine = create_engine(
        'mysql+pymysql://root:110996@127.0.0.1/unicus', pool_recycle=3600
    )
dbConnection = sql_engine.connect()
dbConnection

invoice.to_sql(con=dbConnection, name='invoice',
              if_exists='replace')

iob = pd.read_excel('byun/IOB.xlsx', header=9, index_col=False, skipfooter=10)

# iob = iob.set_index(['Unnamed: 0','Unnamed: 1','Unnamed: 2'])

cols = [
    'Code', 'Item Name', 'Project', 'Item_uom', 
    'Openning Balance Qty', 'Opening Amount VND', 'Opening Amount USD', 
    'Take In Qty', 'Take In Amount VND', 'Take In Amount USD',
    'Take Out Qty', 'Take Out Amount VND', 'Take Out Amount USD',
    'Closing Balance Qty', 'Closing Balance Amount VND', 'Closing Balance Amount USD'
]

# iob.reset_index(inplace=True)

iob.columns = cols

iob

sql_engine = create_engine(
        'mysql+pymysql://root:110996@127.0.0.1/unicus', pool_recycle=3600
    )
dbConnection = sql_engine.connect()
iob.to_sql(con=dbConnection, name='iob',
              if_exists='replace')
print('DONE')

In [42]:
import pandas as pd
import warnings

warnings.simplefilter(action='ignore', category=FutureWarning)

item_master = pd.read_excel(
    r"data/item_master.xlsx", index_col=False, header=1)
material_history = pd.read_excel(
    'data/Material Movement History.xlsx', index_col=False, header=1)

temp_item_master = item_master[['Material', 'Material Type', 'Procurement']]

'''
PREPARE FOR STEP ONE
'''
step_one = pd.merge(material_history, temp_item_master,
                    on="Material", how="left")

step_one.rename(columns={
    'Reference': 'Order Category',
    'Unnamed: 13': 'Order Data',
    'Unnamed: 14': 'Master Category',
    'Unnamed: 15': 'Master Data',
    'Unnamed: 16': 'Remark'
}, inplace=True)

step_one = step_one.iloc[1:, :]

# pd.set_option('mode.chained_assignment', None)

step_one.loc[step_one['Quantity'] > 0, 'Input'] = step_one['Quantity']
step_one.loc[step_one['Quantity'] > 0, 'Output'] = 0
step_one.loc[step_one['Quantity'] <= 0, 'Input'] = 0
step_one.loc[step_one['Quantity'] <= 0, 'Output'] = -step_one['Quantity']

cols = step_one.columns.tolist()

cols = cols[:10] + [cols[-2], cols[-1]] + cols[10:-2]

step_one = step_one[cols]

step_one['Account code'] = [int(x)
                            for x in (step_one['Movement Type'].str[:3])]

cols = step_one.columns.tolist()
cols = cols[:7] + [cols[-1]] + cols[7: -1]
step_one = step_one[cols]

columns_name = {
    'H': 'Account code',
    'p': 'Order Category',
    'W': 'Material Type',
    'X': 'Procurement'
}

'''
Conditions to insert into RAW, WIM, FG
'''
nhap_vao = [None] * 7
nhap_vao[0] = ((step_one['Account code'] == 101) & (
    step_one['Order Category'] == 'Purchase Order'))
nhap_vao[1] = (step_one['Account code'] == 602)
nhap_vao[1] = (step_one['Account code'] == 610)
nhap_vao[2] = (step_one['Account code'] == 623)
nhap_vao[3] = (step_one['Account code'] == 701)
nhap_vao[4] = (step_one['Account code'] == 720)
nhap_vao[5] = (step_one['Account code'] == 801)
nhap_vao[6] = (step_one['Account code'] == 809)

xuat_ra = [None] * 10
xuat_ra[0] = ((step_one['Account code'] == 102) & (
    step_one['Order Category'] == 'Purchase Order'))
xuat_ra[1] = (step_one['Account code'] == 201)
xuat_ra[2] = (step_one['Account code'] == 261)
xuat_ra[3] = (step_one['Account code'] == 555)
xuat_ra[4] = (step_one['Account code'] == 601)
xuat_ra[5] = (step_one['Account code'] == 609)
xuat_ra[6] = (step_one['Account code'] == 702)
xuat_ra[7] = (step_one['Account code'] == 712)
xuat_ra[8] = (step_one['Account code'] == 721)
xuat_ra[9] = (step_one['Account code'] == 803)

thuyen_chuyen = [None] * 2
thuyen_chuyen[0] = (step_one['Account code'].between(300, 402))
thuyen_chuyen[1] = (
    (step_one['Account code'] == 555) & (step_one['Material Type'] == 'ROH') &
    (step_one['Procurement'].isin(['F', 'X']))
)


def condition_to_data(arr):
    material_type_order = ['ROH', 'HAWA', 'HALB', 'FERT']
    material_order_index = dict(
        zip(material_type_order, range(len(material_type_order))))
    for i in range(len(arr)):
        arr[i] = step_one.loc[arr[i]]
        arr[i]['Tm_Rank'] = arr[i]['Material Type'].map(
            material_order_index)  # Sort rows base on material_type_order
        arr[i].sort_values(['Tm_Rank', 'Procurement'], inplace=True)
        arr[i].drop('Tm_Rank', 1, inplace=True)


condition_to_data(nhap_vao)
condition_to_data(xuat_ra)
condition_to_data(thuyen_chuyen)

step_two = pd.concat(nhap_vao + xuat_ra + thuyen_chuyen)

condition_to_delete = ~(step_two['Account code'].isin([101, 102])) & (
    ((step_two['Material Type'] == 'ROH') & (step_two['Procurement'] == 'E')) |
    ((step_two['Material Type'] == 'HAWA') & (step_two['Procurement'] == 'E')) |
    ((step_two['Material Type'] == 'HALB') & (step_two['Procurement'].isin(['E', 'X']))) |
    ((step_two['Material Type'] == 'FERT') &
     (step_two['Procurement'].isin(['E', 'X'])))
)
step_two.drop(step_two[condition_to_delete].index, inplace=True)

SCM_RAW = step_two  # Get SCM_RAW

nhap_vao = [None] * 2
nhap_vao[0] = (
    (step_one['Account code'] == 101) &
    (step_one['Order Category'] == 'Production Order') &
    (step_one['Material Type'] == 'HALB') &
    (step_one['Procurement'].isin(['E', 'X']))
)

nhap_vao[1] = (
    (step_one['Account code'].isin([602, 610, 623, 701, 720, 801, 809])) &
    (step_one['Material Type'] == 'HALB') &
    (step_one['Procurement'].isin(['E', 'X']))
)

xuat_ra = [None] * 3
xuat_ra[0] = (
    (step_one['Account code'] == 102) &
    (step_one['Order Category'] == 'Production order') &
    (step_one['Material Type'] == 'HALB') &
    (step_one['Procurement'].isin(['E', 'X']))
)

xuat_ra[1] = (
    (step_one['Account code'].isin([201, 555, 601, 609, 702, 712, 721, 803])) &
    (step_one['Material Type'] == 'HALB') &
    (step_one['Procurement'].isin(['E', 'X']))
)

xuat_ra[2] = (
    (step_one['Account code'] == 261) &
    (
        ((step_one['Material Type'] == 'HALB') &
         (step_one['Procurement'].isin(['E', 'X']))) |
        ((step_one['Material Type'] == 'FERT') &
         (step_one['Procurement'].isin(['E', 'X'])))
    )
)

thuyen_chuyen = [None]
thuyen_chuyen[0] = (
    (step_one['Account code'].between(300, 402)) &
    (step_one['Material Type'] == 'HALB') &
    (step_one['Procurement'].isin(['E', 'X']))
)

condition_to_data(nhap_vao)
condition_to_data(xuat_ra)
condition_to_data(thuyen_chuyen)

SCM_WIP = pd.concat(nhap_vao + xuat_ra + thuyen_chuyen)

# SCM_WIP.loc[(
#     (SCM_WIP['Account code'] == 261) &
#     (SCM_WIP['Material Type'] == 'FERT') &
#     (SCM_WIP['Location'].str.startswith('RW'))
# ), 'Location'] = None

nhap_vao = [None] * 2
nhap_vao[0] = (
    (step_one['Account code'] == 101) &
    (step_one['Order Category'] == 'Production Order') &
    (step_one['Material Type'] == 'FERT') &
    (step_one['Procurement'].isin(['E', 'X']))
)

nhap_vao[1] = (
    (step_one['Account code'].isin([602, 623, 701, 720, 801, 809])) &
    (step_one['Material Type'] == 'FERT') &
    (step_one['Procurement'].isin(['E', 'X']))
)

xuat_ra = [None] * 2
xuat_ra[0] = (
    (step_one['Account code'] == 102) &
    (step_one['Order Category'] == 'Production Order') &
    (step_one['Material Type'] == 'FERT') &
    (step_one['Procurement'].isin(['E', 'X']))
)

xuat_ra[1] = (
    (step_one['Account code'].isin([201, 601, 609, 702, 712, 721, 803])) &
    (step_one['Material Type'] == 'FERT') &
    (step_one['Procurement'].isin(['E', 'X']))
)

thuyen_chuyen = [None]
thuyen_chuyen[0] = (
    (step_one['Account code'].between(300, 402) | step_one['Account code'].isin([555])) &
    (step_one['Material Type'] == 'FERT') &
    (step_one['Procurement'].isin(['E', 'X']))
)

condition_to_data(nhap_vao)
condition_to_data(xuat_ra)
condition_to_data(thuyen_chuyen)

SCM_FG = pd.concat(nhap_vao + xuat_ra + thuyen_chuyen)

with pd.ExcelWriter('output/before_report.xlsx') as writer:
    SCM_RAW.to_excel(writer, sheet_name='RAW')
    SCM_FG.to_excel(writer, sheet_name='FG')
    SCM_WIP.to_excel(writer, sheet_name='WIP')


def get_result(df):
    '''
    Convert to final report, columns base on Account Code
    '''
    result = df.pivot(index=["Unnamed: 0", "Material"],
                      columns="Account code", values="Quantity")
    result.reset_index(inplace=True)
    del result['Unnamed: 0']
    aggregation_functions = {}
    columns_order = [
        101, 102, 321, 343, 401,
        720, 201, 261, 344, 555, 
        601, 609, 702, 712, 721, 803, 
    ]
    for column in result.columns:
        if isinstance(column, int):
            aggregation_functions[column] = 'sum'

    final_col = []
    for col in columns_order:
        if col in result.columns:
            final_col.append(col)
    
    result = result.groupby(result['Material']).aggregate(
        aggregation_functions)
    result = result[final_col]
    for col in final_col:
        result[col] = result[col].abs()
    result.reset_index(inplace=True)
#     result.index.name = None
    result.loc[-1] = result.sum(numeric_only=True)
    result['IN'] = result[101] + result[720]
    result['OUT'] = None
    
    out_col = [201, 261, 555, 601, 609, 721]
    real_out_col = []
    for col in out_col:
        if col in result.columns:
            real_out_col.append(col)
    result['OUT'] = result[real_out_col].sum(axis=1)
#     result.iloc[0]['IN'] = None
#     result.iloc[0]['OUT'] = None
    print(real_out_col)
    return result


RAW_REPORT = get_result(SCM_RAW)
WIP_REPORT = get_result(SCM_WIP)
FG_REPORT = get_result(SCM_FG)

print('DONE')

d:\projects\excel-to-sql-snippets\env\lib\site-packages\pandas\core\frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)
d:\projects\excel-to-sql-snippets\env\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)
d:\projects\excel-to-sql-snippets\env\lib\site-packages\pandas\core\frame.py:4901: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

[201, 261, 601, 609, 721]
[261, 601, 721]
[601, 609]
DONE

In [43]:
RAW_REPORT

Account code,Material,101,102,343,401,720,201,261,601,609,721,IN,OUT
0,0103-001846,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.000000e+00
1,0103-004609,0.0,0.0,0.0,0.0,0.0,0.0,605834.800,0.0,0.0,100000.0,0.0,7.058348e+05
2,0103-007368,0.0,0.0,0.0,0.0,0.0,0.0,99840.000,0.0,0.0,1600000.0,0.0,1.699840e+06
3,0103-009882,0.0,0.0,0.0,0.0,0.0,0.0,184300.000,0.0,0.0,0.0,0.0,1.843000e+05
4,0103-010237,0.0,0.0,0.0,0.0,0.0,0.0,1575380.000,0.0,0.0,0.0,0.0,1.575380e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...
592,IZ01-000180,0.0,0.0,0.0,0.0,0.0,0.0,965.580,0.0,0.0,0.0,0.0,9.655800e+02
593,IZ01-000181,0.0,0.0,0.0,0.0,0.0,0.0,1902.370,0.0,0.0,0.0,0.0,1.902370e+03
594,IZ01-000195,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.000000e+00
595,MD63-00103A,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.000000e+00
-1,NaN,586404.0,5475.0,0.0,0.0,15192.0,544.0,6431629.839,332738.0,10.0,4270137.0,601596.0,1.103506e+07

In [ ]:
# RAW_REPORT.loc[-1] = RAW_REPORT.sum(numeric_only=True)
# RAW_REPORT['IN'] = RAW_REPORT[101] + RAW_REPORT[720]
# RAW_REPORT['OUT'] = RAW_REPORT.loc[555:].sum(axis=1)
# RAW_REPORT.loc['IN', 0] = None
# RAW_REPORT['OUT', 0] = None
# RAW_REPORT

In [44]:
with pd.ExcelWriter('output/final_result.xlsx') as writer:
    RAW_REPORT.to_excel(writer, sheet_name='REPORT_RAW')
    WIP_REPORT.to_excel(writer, sheet_name='REPORT_FG')
    FG_REPORT.to_excel(writer, sheet_name='REPORT_WIP')