In [1]:
import pandas as pd

In [2]:
pd.set_option('display.max_columns', 45)
pd.set_option('display.max_rows', 100)

In [3]:
df = pd.read_csv('dataset.csv', dtype={'PROVIDE_FLAG': str})

In [4]:
df.shape

(190156, 45)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 190156 entries, 0 to 190155
Data columns (total 45 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   sys_date                    190156 non-null  object
 1   DOCUMENT                    190156 non-null  int64
 2   YEAR                        190156 non-null  int64
 3   ITEM_NO                     190156 non-null  int64
 4   AUTO_POSTING                190156 non-null  int64
 5   STORAGE_TYPE                189988 non-null  object
 6   PROVIDE_FLAG                128 non-null     object
 7   DOCUMENT_TYPE               190156 non-null  object
 8   MOVEMENT_TYPE               190156 non-null  int64
 9   MATERIAL                    190156 non-null  object
 10  PLANT                       190156 non-null  object
 11  STORAGE_LOCATION            190156 non-null  object
 12  VALUATION                   1805 non-null    object
 13  STOCK_TYPE                  190156 non-null  int64
 14  VENDOR                      2323 non-null    object
 15  SUPPLY_PLANT                0 non-null       float64
 16  CUSTOMER                    4800 non-null    object
 17  PURCHASE_ORDER              2323 non-null    float64
 18  PURCHASE_ORDER_ITEM         2323 non-null    float64
 19  SALES_ORDER                 4552 non-null    float64
 20  SALES_ORDER_ITEM            4552 non-null    float64
 21  PRODUCTION_ORDER            163139 non-null  float64
 22  RESERVATION                 156110 non-null  float64
 23  RESERVATION_ITEM            156110 non-null  float64
 24  COST_CENTER                 9068 non-null    object
 25  DEBIT_CREDIT                190156 non-null  object
 26  QUANTITY                    190156 non-null  float64
 27  UNIT                        190156 non-null  object
 28  CURRENCY                    190156 non-null  object
 29  AMOUNT_DOCUMENT             189929 non-null  float64
 30  LOCAL_CURRENCY              190156 non-null  object
 31  AMOUNT_LOCAL                189549 non-null  float64
 32  EXCHANGE_RATE               189776 non-null  float64
 33  FROM_FACTOR                 181236 non-null  float64
 34  TO_FACTOR                   181236 non-null  float64
 35  RECEIVING_MATERIAL          15745 non-null   object
 36  RECEIVING_PLANT             15745 non-null   object
 37  RECEIVING_STORAGE_LOCATION  10996 non-null   object
 38  RECEIVING_VALUATION         1254 non-null    object
 39  DOCUMENT_REMARK             20774 non-null   object
 40  STORAGE_STOCK               189903 non-null  float64
 41  STORAGE_AMOUNT              189903 non-null  float64
 42  TOTAL_STOCK                 190156 non-null  float64
 43  TOTAL_AMOUNT                190156 non-null  float64
 44  BARCODE_ID                  17673 non-null   object
dtypes: float64(18), int64(6), object(21)
memory usage: 65.3+ MB

In [10]:
df

,sys_date,DOCUMENT,YEAR,ITEM_NO,AUTO_POSTING,STORAGE_TYPE,PROVIDE_FLAG,DOCUMENT_TYPE,MOVEMENT_TYPE,MATERIAL,PLANT,STORAGE_LOCATION,VALUATION,STOCK_TYPE,VENDOR,SUPPLY_PLANT,CUSTOMER,PURCHASE_ORDER,PURCHASE_ORDER_ITEM,SALES_ORDER,SALES_ORDER_ITEM,PRODUCTION_ORDER,RESERVATION,RESERVATION_ITEM,COST_CENTER,DEBIT_CREDIT,QUANTITY,UNIT,CURRENCY,AMOUNT_DOCUMENT,LOCAL_CURRENCY,AMOUNT_LOCAL,EXCHANGE_RATE,FROM_FACTOR,TO_FACTOR,RECEIVING_MATERIAL,RECEIVING_PLANT,RECEIVING_STORAGE_LOCATION,RECEIVING_VALUATION,DOCUMENT_REMARK,STORAGE_STOCK,STORAGE_AMOUNT,TOTAL_STOCK,TOTAL_AMOUNT,BARCODE_ID
0,Feb 1 2021 1:00PM,1003346638,2021,1,0,WIP,NaN,GR,101,BN61-16696A,DYKV,WIAS,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.500264e+09,NaN,NaN,NaN,Dr,900.0,PC,VND,900.00,VND,900.00,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,48970.000,48970.00,56674.00,5.667400e+04,C202102010331
1,Feb 1 2021 1:00PM,1003346638,2021,2,0,NORM,NaN,GI,261,0103-011580,DYKV,WINJ,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.500264e+09,5.001703e+09,10.0,NaN,Cr,31500.0,G,VND,2139098.85,VND,2139098.85,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,465489.400,31610407.63,5815930.40,3.949476e+08,NaN
2,Feb 1 2021 1:00PM,1003346639,2021,1,0,NORM,NaN,GR,101,BN96-46009E,DYKV,FPRE,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.500264e+09,NaN,NaN,NaN,Dr,31.0,PC,VND,31.00,VND,31.00,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,3023.000,3023.00,3023.00,3.023000e+03,C202102010332
3,Feb 1 2021 1:00PM,1003346639,2021,2,0,NORM,NaN,GI,261,0203-007064,DYKV,WPAS,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.500264e+09,5.001703e+09,10.0,NaN,Cr,38440.0,MM,VND,26692.20,VND,26692.20,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,6898.397,4790150.30,60702.22,4.215077e+07,NaN
4,Feb 1 2021 1:00PM,1003346639,2021,3,0,NORM,NaN,GI,261,BN02-00040B,DYKV,WPAS,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.500264e+09,5.001703e+09,20.0,NaN,Cr,31.0,PC,VND,1364.00,VND,1364.00,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,2342.000,103048.00,16948.00,7.457120e+05,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190151,Feb 16 2021 12:00AM,2000519540,2021,110,0,NORM,NaN,GI,261,BN61-17479B,DYKV,WPAS,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.001705e+09,150.0,NaN,CR,18.0,PC,VND,18.00,VND,18.00,1.0,NaN,NaN,NaN,NaN,NaN,NaN,Backlog clearing,0.000,0.00,0.00,0.000000e+00,NaN
190152,Feb 16 2021 12:00AM,2000519540,2021,120,0,NORM,NaN,GI,261,BN61-17479B,DYKV,WPAS,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.001705e+09,150.0,NaN,CR,18.0,PC,VND,18.00,VND,18.00,1.0,NaN,NaN,NaN,NaN,NaN,NaN,Backlog clearing,0.000,0.00,0.00,0.000000e+00,NaN
190153,Feb 16 2021 12:00AM,2000519540,2021,130,0,NORM,NaN,GI,261,BN61-17479B,DYKV,WPAS,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.001705e+09,150.0,NaN,CR,24.0,PC,VND,24.00,VND,24.00,1.0,NaN,NaN,NaN,NaN,NaN,NaN,Backlog clearing,0.000,0.00,0.00,0.000000e+00,NaN
190154,Feb 16 2021 12:00AM,2000519541,2021,10,0,NORM,NaN,GI,261,BN61-17482A,DYKV,WPAS,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.001705e+09,110.0,NaN,CR,100.0,PC,VND,100.00,VND,100.00,1.0,NaN,NaN,NaN,NaN,NaN,NaN,Backlog clearing,0.000,0.00,0.00,0.000000e+00,NaN
190155,Feb 16 2021 12:00AM,2000519541,2021,20,0,NORM,NaN,GI,261,BN61-17482A,DYKV,WPAS,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.001705e+09,100.0,NaN,CR,90.0,PC,VND,90.00,VND,90.00,1.0,NaN,NaN,NaN,NaN,NaN,NaN,Backlog clearing,0.000,0.00,0.00,0.000000e+00,NaN

In [13]:
df[['ITEM_NO', 'MATERIAL']].head(18)

    ITEM_NO     MATERIAL
0         1  BN61-16696A
1         2  0103-011580
2         1  BN96-46009E
3         2  0203-007064
4         3  BN02-00040B
5         4  BN02-00102B
6         5  BN39-02390A
7         6  BN61-13557P
8         7  BN61-15526A
9         8  BN61-15531A
10        9  BN61-15532A
11       10  BN61-15540A
12       11  BN61-15541A
13       12  BN63-17614A
14       13  BN63-17616A
15       14  BN96-45913A
16       15  IZ64-04033B
17       16  BN60-01534A

In [8]:
# df.count()

In [14]:
df.columns

Index(['sys_date', 'DOCUMENT', 'YEAR', 'ITEM_NO', 'AUTO_POSTING',
       'STORAGE_TYPE', 'PROVIDE_FLAG', 'DOCUMENT_TYPE', 'MOVEMENT_TYPE',
       'MATERIAL', 'PLANT', 'STORAGE_LOCATION', 'VALUATION', 'STOCK_TYPE',
       'VENDOR', 'SUPPLY_PLANT', 'CUSTOMER', 'PURCHASE_ORDER',
       'PURCHASE_ORDER_ITEM', 'SALES_ORDER', 'SALES_ORDER_ITEM',
       'PRODUCTION_ORDER', 'RESERVATION', 'RESERVATION_ITEM', 'COST_CENTER',
       'DEBIT_CREDIT', 'QUANTITY', 'UNIT', 'CURRENCY', 'AMOUNT_DOCUMENT',
       'LOCAL_CURRENCY', 'AMOUNT_LOCAL', 'EXCHANGE_RATE', 'FROM_FACTOR',
       'TO_FACTOR', 'RECEIVING_MATERIAL', 'RECEIVING_PLANT',
       'RECEIVING_STORAGE_LOCATION', 'RECEIVING_VALUATION', 'DOCUMENT_REMARK',
       'STORAGE_STOCK', 'STORAGE_AMOUNT', 'TOTAL_STOCK', 'TOTAL_AMOUNT',
       'BARCODE_ID'],
      dtype='object')

In [21]:
# df.iloc[0]
# df.iloc[[0, 1]]
# df.iloc[[0, 1], [0, 2]]

In [23]:
df['ITEM_NO'].value_counts().head(20)

1     17586
2     17142
10    16072
3     14043
4     11937
5      9687
6      9598
7      9411
8      9222
9      8992
11     8649
12     8458
13     8064
14     7364
15     6166
16     4596
17     3401
18     2409
20     2158
19     1537
Name: ITEM_NO, dtype: int64